<<<<<<< HEAD
.backlinks {
  position: relative;
=======
@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;
>>>>>>> main

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

<<<<<<< HEAD
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
=======
  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    max-height: calc(100% - 2rem);
    overscroll-behavior: contain;
>>>>>>> main

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }
}
